* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.SearchContainer {
  display: flex;
  border-radius: 8px;
  background-color: #fff;
  width: 315px;

  position: relative;
}

.form ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.form li {
  margin-top: 9px;
  color: #3d3d3d;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  width: auto;

  padding: 7px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form li:hover {
  background-color: beige;
}

.form input {
  color: #3d3d3d;

  font-size: 16px;
  width: 285px;
  margin-left: 30px;
  padding: 13px;
  border: none;
  border-radius: 8px;
}
.form input:focus {
  outline: none;
}
.form {
  display: flex;

  flex-direction: column;
}
.form button {
  margin: 5px;
  visibility: hidden;
}

.line {
  height: 2px;
  background-color: #eaeaea;
}
.icon {
  margin: 14px 0px 14px 14px;
  position: absolute;
}

.title {
  text-align: center;
  color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container p {
  color: aliceblue;
  margin-bottom: 20px;
}
